<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </div>

    <div class="visible:none">
      <%= f.hidden_field :category_id ,:value =>  Post.find_by_id(params[:post_id]).category_id  %>
    </div>

    <div class="visible:none">
      <%= f.hidden_field :post_id %>
    </div>

    <div class="actions">
      <input name="commit" type="submit" value="Create Comment" />
    </div>
<% end %>
