
<!-- The div that wraps the entire post -->
<div class="post" id="<%=post.id%>" depth=<%=post.depth%> >

  <!-- div that contains the top line -->
  <div class="top_line">
    Submitted by <span class="user"> <%= post.creatorName %> </span> to <%=post.category%>
  </div>

  <!-- Text Content of post -->
  <div class="content">
    <%= post.content %>
  </div>

  <!-- Display the various options -->
  <div class="bottom_line">

    <!-- Check vote conditions -->
    <% vote = Vote.new %>
    <% if current_user %>
        <% vote.user_id = current_user.id %>
    <% else %>
        <% vote.user_id = -1 %>
    <% end %>
    <% vote.post_id = post.id %>

    <!-- Allow voting and un-voting if appropriate -->
    <% if (current_user) && post.user_id != current_user.id %>
        <% if vote.exists %>
            <td style="text-align: center;"><%= link_to 'Un-vote', :controller => "posts", :action => "vote", :post_id => post %></td>
        <% else %>
            <td style="text-align: center;"><%= link_to 'Vote', :controller => "posts", :action => "vote", :post_id => post %></td>
        <% end %>
        |
    <% end %>


    <!-- Display Votes -->
    <% voteNumber = post.numberOfVotes %>
    <a href="">
      <% if vote.exists %>  You and <%= voteNumber-1 %> other <% else %> <%= voteNumber %> <% end %>

      <% if voteNumber != 2 && vote.exists  %> people have <% end %>
      <% if voteNumber == 2 && vote.exists %>  person have <% end %>
      <% if voteNumber != 1 && !vote.exists%>  people have <% end %>
      <% if voteNumber == 1 && !vote.exists%>  person has  <% end %>

      voted for this post
    </a>

    <!-- Reply link -->
    <% if current_user %>
        | <a href="" class="reply-link">Reply</a>
    <% end %>

    <!-- Display Edit/Destroy if appropriate-->
    <% if (current_user && current_user.username) == post.creatorName || (current_user && current_user.admin) %>
        | <%= link_to 'Edit', edit_post_path(post) %>
        | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

    <%  if post.hasChildrenPost  %>
        | <a href="" class="show_hide hiding">Show comments</a>
    <%  end %>
  </div>

  <!-- Comment partials if there are comments to a post -->
  <%  if post.hasChildrenPost  %>
      <% post.getAllChildrenPosts.each do |post| %>
          <%= render "comment", :post => post %>
      <%  end %>
  <%  end %>

</div>
