<h1>PostIt Entries</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Category</th>
    <th>User</th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <td><%= Category.find(post.category_id).name %></td>
    <td><%= User.find(post.user_id).username %></td>
    <% if current_user != nil && current_user.username = User.find(post.user_id).username %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
