<h1>PostIt</h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Content</th>
    <th>Category</th>
    <th>User</th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <td><%= Category.find(post.category_id).name %></td>
    <td><%= User.find(post.user_id).username %></td>
    <% if (current_user && current_user.username == User.find(post.user_id).username) || (current_user && current_user.admin) %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <% if (current_user) %>
        <td><%= link_to 'Vote', :controller => "posts", :action => "vote", :post_id => post %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />


