

<script>
    $(document).ready(function(){
        $("button").click(function(){
            $("td#votes_data").toggle();
            $("th#votes_header").toggle();
        });
    });
</script>

<h1>PostIt</h1>
<table>
  <tr>
    <th></th>
    <th>Content</th>
    <th>Category</th>
    <th>User</th>
    <th># of votes</th>
    <th>Action</th>
    <!--<th># of Votes</th>-->
  </tr>
<% Post.all(:order => "updated_at DESC", :conditions => "post_id IS NULL").each do |post| %>

  <tr>
    <td class="expandlink"><button style="font-size: 14pt;">+</button></td>
    <td width="400px" id=<%=post.id%>><%= post.content %></td>
    <td><%= Category.find(post.category_id).name %></td>
    <td><%= User.find(post.user_id).username %></td>
  </div>
    <% vote = Vote.new %>
    <% if current_user %>
        <% vote.user_id = current_user.id %>
    <% else %>
        <% vote.user_id = -1 %>
    <% end %>
    <% vote.post_id = post.id %>

    <!-- Displays message about votes based on if user voted and number of votes -->
    <td width="340px">
      <a>
      <% if vote.exists %>
        You and
          <%= Vote.find_all_by_post_id(post.id).count()-1 %>
          other
      <% else %>
          <%= Vote.find_all_by_post_id(post.id).count() %>
      <% end %>
      <% if Vote.find_all_by_post_id(post.id).count() != 2 && vote.exists  %>
          people have
      <% end %>
      <% if Vote.find_all_by_post_id(post.id).count() == 2 && vote.exists %>
          person have
      <% end %>
      <% if Vote.find_all_by_post_id(post.id).count() != 1 && !vote.exists%>
          people have
      <% end %>
      <% if Vote.find_all_by_post_id(post.id).count() == 1 && !vote.exists%>
          person has
      <% end %>
       voted for this post.
          </a>
    </td>

    <!-- Display Edit and Destroy if the post belongs to the current user, or if the user is an admin user -->
    <% if (current_user && current_user.username == User.find(post.user_id).username) || (current_user && current_user.admin) %>
        <td style="text-align: center;"><%= link_to 'Edit', edit_post_path(post) %> |
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>

    <!-- Display voting records if the post does not belong to the current user -->
    <% if (current_user) && post.user_id != current_user.id %>
        <% if vote.exists %>
            <td style="text-align: center;"><%= link_to 'Un-vote', :controller => "posts", :action => "vote", :post_id => post %></td>
        <% else %>
            <td style="text-align: center;"><%= link_to 'Vote', :controller => "posts", :action => "vote", :post_id => post %></td>
        <% end %>
    <% end %>
  </tr>

  <% if Post.find_all_by_post_id(post.id).count() > 0 %>

  <tr>
    <%= render "posts/comment", :post => post %>
  </tr>

  <% end %>

  <% end %>

</table>

